<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465222244060-ak78f2c3vtns288n9s9ak42dtdv8vt2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465222244060-ak78f2c3vtns288n9s9ak42dtdv8vt2d</string>
	<key>API_KEY</key>
	<string>AIzaSyCcC4Sph_ld_1hp54Cci9dLoAa_kdWw3e0</string>
	<key>GCM_SENDER_ID</key>
	<string>465222244060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChat</string>
	<key>PROJECT_ID</key>
	<string>cat-chat-9e872</string>
	<key>STORAGE_BUCKET</key>
	<string>cat-chat-9e872.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465222244060:ios:c677859b4873c0a6974619</string>
</dict>
</plist>